:root {
    --titles: 'Sarala', 'sans-serif'
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: var(--titles);
}

.title {
    margin-top: 2;
    /* margin-left: 4rem; */
    font-size: 4rem;
}

#stop {
    color: red;
}

#stop:hover {
    background-color: red;
    border-radius: 10%;
    padding: 0.08rem 0.5rem;
    color: white;
    cursor: pointer;
}

.small-rectangle {
    background-color: red;
    height: 2rem;
    width: 10rem;
    border-radius: 1rem;
    /* border: 3px solid black; */
    padding: 1.5rem 1.5rem;
    color: white;
    font-family: var(--titles);
    font-size: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.click-me {
    padding: 1.5 6rem;
    width: 20rem;
    color: black;
    background-color: white;
}

.click-me:last-of-type:hover {
    background-color: #D5D5D5;
    transition: 0.5s;
}

.generators {
    display: flex;
    gap: 2rem;
    justify-content: space-around;
    cursor: pointer;
}

.side-container {
    display: flex;
    /* flex-direction: row-reverse; */
    gap: 2rem;
}

.restart {
    cursor: pointer;
}

#timer {
    height: 5rem;
    width: 5rem;
    padding: 0rem 2rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--titles);
    color: black;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

/** Horizontal Line **/

.hr-main {
    border: 1px solid black;
    margin-top: 3rem;
    width: 80%;
}

/** Gamplay Styles **/

.description-gameplay {
    font-family: var(--titles);
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

/** Gameplay Headings */

.headings-container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.round-title {
    padding: 0.5rem 0.05rem;
    width: 100%;
    border: 2px solid black;
    font-size: 2rem;
}

.round-title:hover {
    background-color: rgb(144, 197, 144);
    color: white;
    transition: 0.5s;
}

.gameplay-container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.cat-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    gap: 1.5rem;
    /* width: 100%; */
}

.categories {
    margin-top: 1.5rem;
    background-color: #D5D5D5;
    color: white;
    border: 1.6px solid black;
    flex-grow: 1;
}

.categories:hover {
    background-color: rgb(242, 238, 238);
    color: black;
}

.nameScore-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nameScore {
    margin-top: 1.5rem;
    background-color: rgb(246, 192, 55);
    border: 2px solid black;
    color: white;
}

.nameScore:hover {
    color: black;
    background-color: rgb(241, 223, 107);
}

/** Gameplay Inputs  */

.inputs-container {
    display: flex;
    width: 100%;
}

.inputCatContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputsCat {
    height: 4rem;
    width: 10rem;
    border-radius: 1rem;
    border: 2px solid grey;
    padding: 1.6rem 1.6rem;
    margin-top: 1.5rem;
    margin-right: 1.9rem;
    font-size: 2rem;
    font-family: var(--titles);
    resize: none;
    scroll-behavior: inherit;
    overflow: hidden;
    text-align: center;
    line-height: 1.1;
    flex: 1;
    outline: none;
    /* background-color: rgb(202, 230, 202); */
}

.inputNameScore {
    display: flex;
    gap: 2rem;
}

.input-name {
    margin-top: 1.5rem;
    height: 4rem;
    width: 10rem;
    border: 2px solid black;
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    line-height: 1.2;
    font-size: 2rem;
}

.input-score {
    margin-top: 1.5rem;
    height: 4rem;
    width: 10rem;
    border: 2px solid black;
    background-color: white;
    color: black;
    display: flex;
    text-align: center;
    font-size: 2.5rem;
}

.player-division {
    border: 2px solid black;
    border-radius: 2px;
    margin-top: 3rem;
    width: 90%;
}

.hidden {
    display: none;
}

.timeRound-container {
    display: flex;
    justify-content: space-between;
}

.round-title1 {
    height: 5rem;
    width: 10rem;
    padding: 0rem 2rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: white;
    color: black;
    display: flex;
    font-size: 2rem;
}

.start-color {
    background-color: white;
}