:root {
    --titles: 'Sarala', 'sans-serif'
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    max-width: 90%;
    margin: 0 auto;
}

h1 {
    font-family: var(--titles);
    font-size: 2.4rem;
}

.title {
    margin-top: 2;
    /* margin-left: 4rem; */
    font-size: 4rem;
}

#stop {
    color: red;
}

#stop:hover {
    background-color: red;
    border-radius: 10%;
    padding: 0.08rem 0.5rem;
    color: white;
    cursor: pointer;
}

main {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#play {
    height: 6rem;
    width: 35rem;
    border: 2px solid black;
    border-radius: 3rem;
    font-family: var(--titles);
    font-size: 2rem;
    background-color: rgb(232, 70, 70);
    color: white;
    /* padding: 2rem 3rem; */
}

#play:hover {
    background-color: red;
    cursor: pointer;
}

#name {
    text-align: center;
    height: 6rem;
    width: 25rem;
    border: 2px solid black;
    border-radius: 3rem;
    font-family: var(--titles);
    font-size: 2rem;
    outline-color: rgb(232, 70, 70);
}

#name:focus::placeholder {
    opacity: 0;
}

.btns-difficulty {
    display: flex;
    gap: 2rem;
}

.btns-style {
    height: 3rem;
    width: 8rem;
    border-radius: 1.5rem;
    border: 2px solid black;
    background-color: white;
}

.btns-style:hover {
    background-color: green;
    color: white;
    cursor: pointer;
}

.btns-style.active {
    background-color: green;
    color: white;
}

.warning {
    color: red;
}
